
<footer>
	<section>
		<div class="container container__foot">
			<div class="row footer">
				<div class="col-sm-6 footer__title">
					©2014 tulusdriyo. All Rights Reserved.
				</div>
				<div class="col-sm-6 footer__link ">
					<div class="socials">
						<a href="#" class="social">
							<i class="fab fa-behance"></i>
						</a>
						<a href="#" class="social">
							<i class="fab fa-linkedin-in"></i>
						</a>
						<a href="#" class="social">
							<i class="fab fa-google-plus-g"></i>
						</a>
						<a href="#" class="social">
							<i class="fab fa-facebook-f"></i>
						</a>
						<a href="#" class="social">
							<i class="fab fa-twitter"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</footer>




<script src="js/main.min.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDV0cpLEnQ5LQURpKDbtZteK-W9oLZAwEY&callback=initMap" type="text/javascript"></script>

