<!-- header.html -->

<div class="container container__nav">
	<nav id="menu">
		<div class="row">
			<div class="col-xs-2 col-md-1 logo">
				<svg width="47" height="60" >
					<use xlink:href="#logo"></use>
				</svg>
			</div>
			<div class="toggler">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<ul class="col-xs-10 col-md-7 offset-md-4  list-inline text-uppercase navigation">
				<li class="navigation__item">
					<a class="navigation__item-link" href="#header">Home</a>
				</li>
				<li class="navigation__item">
					<a class="navigation__item-link" href="#about">About</a>
				</li>
				<li class="navigation__item">
					<a class="navigation__item-link" href="#services">services</a>	
				</li>
				<li class="navigation__item">
					<a class="navigation__item-link" href="#works">works</a>
				</li>
				<li class="navigation__item">
					<a class="navigation__item-link" href="#contacts">contact</a>
				</li>
			</ul>
		</div>
	</nav>

</div>